img {
    
    height: 50vh;
    margin: 30px 0 30px 0;
}

#img {
    display: flex;
    justify-content: center;
    background-image: url('https://media.istockphoto.com/vectors/retro-neon-beer-bar-sign-on-brick-wall-background-vector-id836644296');

}

.text {
    text-align: center;
}


